@charset "UTF-8";

/* PALETA

#BFA3A8 -ZINZA
#011826 - AZUL ESCURO 1
#033757 - AZUL ESCURO 2 
#037F8C - AZUL MEDIO CLARO
#03A6A6 - AZUL CLARO 1
#03A696 - AZUL CALRO 2
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;

}


body, html {
    background-image: linear-gradient(to right, #011826 15%, #033757 , #037F8C  , #03A6A6);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;

}

section#llLLlLogin {
}Ll