@charset "UTF-8";

/* PALETA

#BFA3A8 -ZINZA
#011826 - AZUL ESCURO 1
#033757 - AZUL ESCURO 2 
#037F8C - AZUL MEDIO CLARO
#03A6A6 - AZUL CLARO 1
#03A696 - AZUL CALRO 2
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: black;

}


body, html {
    /* CORREÇÃO: Removida a vírgula após a última cor */
    background-image: linear-gradient(to right, #011826 15%, #033757, #037F8C, #03A6A6);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;

}

/* CORREÇÃO: O 'L' foi alterado para minúsculo para corresponder ao ID no HTML */
section#login { 

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden ; /*deixar a borda redonda*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.694);

    transition: width 0.3s, height 0.3s; /*animação*/
    transition-timing-function: ease;

}

section#login > div#imagem {
    display: block;
    background: #033757 url('../imagens/img-aviao.jpg') no-repeat;
    background-size: cover; 
    background-position: right; /* a possição imagem na div */
    height: 200px;
    width: 100%; 
}

section#login > div#formulario {
    display: block;
    padding: 10px;
                                                                                      
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #033757;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

form > input[type=submit]:hover {
    background-color:#011826 ;

}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white ;
    color: black;
    border: 1px solid #033757;
    border-radius: 7px;
    text-decoration: none;

}

form > a.botao:hover{
    background-color:  #0c92e6 ;
    color: white;
}

form > a.botao > i{
    font-size: 0.8em;

}