@charset "UTF-8";

/* PALETA

#BFA3A8 - ZINZA
#011826 - AZUL ESCURO 1
#033757 - AZUL ESCURO 2 
#037F8C - AZUL MEDIO CLARO
#03A6A6 - AZUL CLARO 1
#03A696 - AZUL CLARO 2
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: black;
}

body, html {
    background-image: linear-gradient(to right, #011826 15%, #033757, #037F8C, #03A6A6);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 250px;
    height: 527px;
    border-radius: 20px;
    overflow: hidden ; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.694);

    transition: width 0.3s, height 0.3s; 
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #033757 url('../imagens/img-aviao.jpg') no-repeat;
    background-size: cover; 
    background-position: right; 
    height: 200px;
    width: 100%; 
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}



form > div.campo{
    display: block; 
    background-color:#033757 ;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 10px 0px; 
    overflow: hidden; /* Limpa o float */
}

div.campo > label {
    display: none;
}

form > div.campo > span { 
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
    height: 40px; 
    float: left; /* Alinhamento lado a lado */
    line-height: 30px; 
    text-align: center;
}

form > div.campo > input {
    background-color: #bbdaee;
    font-size: 1em;
    color: black; 
    
    
    width: calc(100% - 40px);
    
    float: left; /* Alinhamento lado a lado */
    
    height: 100%; 
    border: 0px;
    border-radius: 0 8px 8px 0; 
    padding: 0 5px; 
}

/* --- ESTILOS DOS BOTÕES --- */

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #033757;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color:#011826 ;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white ;
    color: black;
    border: 1px solid #033757;
    border-radius: 7px;
    text-decoration: none;
}

form > a.botao:hover{
    background-color:  #0c92e6 ;
    color: white;
}

form > a.botao > i{
    font-size: 0.8em;
}

div#formulario > p{
    font-size: 1em;
    margin: 20px 0px;
}